<h1>About</h1>
<p>This is a site made for learning purposes. I did it about FOALS because I really like them.</p>
<p>The background image is <a href="https://www.flickr.com/photos/stevenfoxall/8601873630/in/album-72157633115133405/">a great picture</a> taken by <a href="https://www.flickr.com/photos/stevenfoxall/">a guy called Steven, from England,</a> and was published <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">under the Attribution-NonCommercial-NoDerivs 2.0 Generic (CC BY-NC-ND 2.0) license</a>. There are not commercial purposes on this site.</p>
